<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>NLP</title>
</head>

<body>

  <header>
    <div class="title">
      Natural Language Processing (NLP)
    </div>
  </header>

  <div class="text">
    <p>Insert an URL in the form below and you will get a short information about how the AI interprets the text.</p>
  </div>

  <main>
    <section>
      <form class="" onsubmit="Client.handleSubmit(event)">
        <input id="name" type="text" name="input" value="" placeholder="Please, enter an URL">
        <input type="submit" name="" value="Submit">
      </form>
      <section>

        <section>
          <strong></strong>
          <div id="results"></div>
        </section>
  </main>

  <footer>
    <p>This is a footer</p>
  </footer>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>