body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    background: #BCD3F2;
    color:black;
    justify-content: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 1px 2px 4px 5px #444;
}

.holder{
    text-align: center;
}

.entry{
    text-align: center;
    background: rgba(59, 74, 107, .4);
    margin-bottom: 30px;
    margin-top: 20px;
}

#entryHolder{
    font-size: 30px;
}

#date{
    margin-top: 10px;
}

#temp{
    margin-top: 10px;
}

#content{
    margin-top: 10px;
}

.headline {
    font-size: 40px; 
    margin-top: 20px;
}
.title{
    background: #395C6B;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
    background: #395C6B;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}

input{
    height: 50px;
    width: 60%;
    margin: auto;
    text-align: center;
    background:#80A4ED;
    color:black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin-top: 10px;
}

#submit {
    width: 40% !important;
}

button{
    width: 200px;
    height: 60px;
    background: #6987C2;
    cursor: pointer;
    color:black;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-top: 20px;
}
h1{
    font-size: 36px;
}

textarea{
    background:#80A4ED;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 70%;
    margin-top: 10px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #3b5587; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #3b5587; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #3b5587; 
    font-family: 'Oswald', sans-serif;

} 